<p id="notice"><%= notice %></p>

<h1>Legal Cases</h1>

<table>
  <thead>
    <tr>
      <th>Caseid</th>
      <th>Isactive</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @legal_cases.each do |legal_case| %>
      <tr>
        <td><%= legal_case.caseID %></td>
        <td><%= legal_case.isActive %></td>
        <td><%= legal_case.country %></td>
        <td><%= link_to 'Show', legal_case %></td>
        <td><%= link_to 'Edit', edit_legal_case_path(legal_case) %></td>
        <td><%= link_to 'Destroy', legal_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Legal Case', new_legal_case_path %>
